#EXPRESS
SERVER_PORT=

#ENVIRONMENT
NODE_ENV=

#JWT
SERVER_JWT=true
SERVER_JWT_SECRET=yoursecrethere
SERVER_JWT_TIMEOUT=86400

#DATABASE
DB_DIALECT= mysql if you are using mysql
DB_HOST= localhost if using localhost
DB_USER= your db user
DB_PASS= your db password
DB_NAME= name of your DB
